.paper {
   width: 80%;
   margin: 1rem auto;
   padding: .5rem;
   background-color: #3f51b5!important;
}

.paperUser {
   width: 80%;
   margin: 1rem auto;
   padding: .5rem;
}

.messageText {
   color: white!important;
}

.messageTextUser {
   color: black!important;
}

.paper:first-child {
   margin-top: 0;
}