.formContainer {
   width: 70%;
   background-color: white;
   position: absolute;
   top:50%;
   left: 15%;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}


.form {
   text-align: center;
   margin: 2rem auto;
}

.input {
   margin: 1.5rem 0;
}

.buttonContainer {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
}